/*colors*/
$greyDark: #181818;
$white: #fff;
$purple: #7d7ccc;
$greyLight: #f2f2f2;


/*fonts*/
$calypso: "Calypso", serif;
$montserratRegular: "Montserrat-Regular", Verdana, sans-serif;
$montserratMedium: "Montserrat-Medium", Verdana, sans-serif;
$montserratBold: "Montserrat-Bold", Verdana, sans-serif;

/*other*/
$centered: 0 auto;

